<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <script type="text/javascript" th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]--></head>
    <STYLE type=text/css>

        TH {
            color: #5371BA;
            font-weight: bold;
            font-size: 16px;
            background-color: #E4EFF1;
            display: block;
        }

        TD {
            padding: 10px;
            font-size: 16px;
        }

    </STYLE>
    <title>基础信息配置</title>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row">
<form id="configForm" class="layui-form"  name="configForm" th:object="${config}">
    <table>
        <tr>
            <td>Zookeeper地址:</td>
            <td><input class="layui-input" type="text" name="zkConnectString"
                       th:value="*{zkConnectString}" style="width:300"></td>
            <td>格式: IP地址：端口</td>
        </tr>
        <tr>
            <td>Zookeeper超时:</td>
            <td><input class="layui-input" type="text" name="zkSessionTimeout"
                       th:value="*{zkSessionTimeout}" style="width:300"></td>
            <td>单位毫秒</td>
        </tr>
        <tr>
            <td>Zookeeper根目录：</td>
            <td><input class="layui-input" type="text" name="rootPath" th:value="rootPath"
                       style="width:300"></td>
            <td>例如：/taobao-pamirs-schedule/huijin,，可以是一级目录，也可以是多级目录，注意不同调度域间不能有父子关系<br/>
                通过切换此属性来实现多个调度域的管理
            </td>
        </tr>
        <tr>
            <td>Zookeeper用户：</td>
            <td><input class="layui-input" type="text" name="userName" th:value="*{userName}"
                       style="width:300"></td>
            <td></td>
        </tr>
        <tr>
            <td>Zookeeper密码：</td>
            <td><input class="layui-input" type="text" name="password" th:value="*{password}"
                       style="width:300"></td>
            <td></td>
        </tr>
    </table>

    <br/>
    <input type="button" value="保存" onclick="save();" style="width:100px">
    <a href="index.jsp?manager=true">管理主页...</a>
    <br/><br/>
    <b>有几种原因导致你需要配置这些信息：</b><br>
    &nbsp&nbsp&nbsp&nbsp 1、你是第一次启动<br>
    &nbsp&nbsp&nbsp&nbsp 2、你的配置信息被删除&nbsp<b><span >pamirsScheduleConfig.properties</span>
</b><br>
    &nbsp&nbsp&nbsp&nbsp 3、连接不上你配置的Zookeeper服务器<br>
</form>
    </div>
</div>
<script language="JavaScript">
    function save() {
        var data = $("#configForm").serialize();
        $.post("/config",data,function(r){
            console.log(r)
        });
    }
</script>
</body>
</html>